modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist/public"
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35129
externalPort = 8080

[[ports]]
localPort = 36009
externalPort = 6800

[[ports]]
localPort = 36201
externalPort = 4200

[[ports]]
localPort = 36331
externalPort = 3003

[[ports]]
localPort = 36617
externalPort = 6000

[[ports]]
localPort = 38083
externalPort = 5000

[[ports]]
localPort = 38331
externalPort = 3000

[[ports]]
localPort = 40205
externalPort = 3001

[[ports]]
localPort = 41569
externalPort = 8000

[[ports]]
localPort = 45937
externalPort = 3002

[[ports]]
localPort = 46291
externalPort = 8008

[[ports]]
localPort = 46367
externalPort = 5173

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"

[userenv]

[userenv.shared]
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1enpnZXBreHV3eWx6Z2p3Z2NlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwMTE2NzgsImV4cCI6MjA3OTU4NzY3OH0.fFMqNnf0uLnQOY3cOThlXrQE-pO1QoQ9r2vuO3NCSFM"
VITE_SUPABASE_URL = "https://cuzzgepkxuwylzgjwgce.supabase.co"
VITE_SPORTMONKS_API_KEY = "TGICkw9WvcRQtQvfL0LKNYBuRCIqhX6X3AUqsXGM4WakCMrEbUQAm5pkR1ew"
FOOTBALL_API_KEY = "7543ea3d64bdb259122624f04a58fc79"
MERCADOPAGO_PUBLIC_KEY = "TEST-ce844f6b-601a-47f1-8c3f-7b17c30f39db"
MERCADOPAGO_ACCESS_TOKEN = "TEST-7847906105895132-061314-75731ca282ba3864ff95d07bce88825e-129467089"
